.loginDiv{
    width: 100%;
    height: 100vh;
    display: flex;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.divFoto{
    display: flex;
    flex: 0 0 60%;
    width: 100%;
    object-fit: contain;
}

.foto{
    width: 100%;
    height: 100%;
   
}

.logo{
    max-width: 70px;
}

.divHeaderForm{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
}

.divForm {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.botaoSubmit{
    background-color: rgb(158, 103, 64) !important;
    border: none !important;
}