


.botaoSubmit {
    background-color: rgb(158, 103, 64) !important;
    border: none !important;
}

.botaoCancelar{
     background-color: rgba(227, 171, 132, 0.281) !important;
    border: none !important;
    color: black !important;
}