.divTable{
    display: flex;
    width: 100%;
    justify-content: center;
}

.tabela{
    border: 1px solid rgb(158, 103, 64) !important;
    border-radius: 10px !important;
    border-collapse: separate !important; 
    border-spacing: 0 !important;
    overflow: hidden;
    margin-top: 50px;
    width: 90vw !important;
  

}

.tabelaHeader{
    background-color: rgba(158, 103, 64, 0.678) !important;
}